.git
.github
.gradle
build
node_modules
src/main/frontend
.vscode
.idea
.settings
.classpath
.factorypath
.project
bin
out
*.iml
hs_err_pid*.log
replay_pid*.log
*.json.sample
metadata.json
ombi_response.json
search.json
customer-entitlements-db_note.sql
